/*Makes percentages usable by make parent define*/
html, body{
    height: 100%;
    width: 100%;        
}

/*Helps remove excess space at bottom of pages*/
body{
    overflow: hidden;
}

.grid_con{
   display: grid;
   grid-template-areas: 
   "head head head head"
   "leftcol rightcol rightcol rightcol"
   "foot foot foot foot"; 
   border: solid black 1px;
}

.head{
    text-align: center;
    grid-area: head;
    background-color: aquamarine;
}
.leftcol{
    grid-area: leftcol;
    background-color: aqua;
}
.rightcol{
    grid-area: rightcol;
    background-color: gray;
}
.foot{
    grid-area: foot;
    background-color: aquamarine;
}

.flex-container{
    background-color: black;
    display: flex;
}


/*Styles header*/

/*Styles the return button in the return html*/
.home-button{
width: 15%;
height: 10%;
background-color: aqua;
text-align: center;
color: green;
}

.center-vert{
    vertical-align: middle;
}

/*gives return button a hover porperty*/
.home-button:hover{
    background-color: aquamarine;
}

/*Styles title in header*/


/*Styles the div that helps format the right and left columns*/
.body-style{
    width: 99%;
    height: 72%;
    margin: 0;
    border: 3px solid black;
    border-top: none;
    box-sizing: border-box;
   
}

/*Styles the footer*/
.footer-style{
    width: 99%;
    height: 8%;
    background-color: aquamarine;
    border: 3px solid black;
    border-top: none;
    box-sizing: border-box;

}

/*Styles horozontal nav bar*/
.sub-header{
    background-color: grey;
    width:100%;
    border: 3px solid black;
    box-sizing: border-box;

}

/*Styles the tabs in the horozontal nav bar*/
.header-tabs{
    
    text-align: center;
    background-color:green;
    border: solid black 1px;

}

/*Gives hover property to horozontal nav bar tabs*/
.header-tabs:hover{
    background-color: aqua;

}

/*Gives active property to horozontal nav bar tabs*/
.header-tabs:active{
    background-color: antiquewhite;

}


/*Styles verticle nav bar*/
.left-box{
    width: 90%;
    height: 90%;
    background-color: white;
    margin-left: 12px;
    margin-top: 10px;
  
}

/*Styles "category" tab in verticle nav bar*/
.cate-box{
    margin: 0;
    width: 100%;
    height: 20%;
    background-color: black;
    color: aliceblue;
    padding-left: 10px;

}

/*Styles category tabs in verticle nav bar*/
.cates{
    margin: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    color: black;
    padding-left: 10px;

}

/*Styles the right column items*/
.img-gal{
    width:250px;
    height:400px;
    text-align: center;
    background-color: white;
    float:left;
    border: 3px solid black;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25px;
    overflow: hidden;

}

/*Gives the items the hover property*/
.img-gal:hover{
    background-color: beige;
}

/*Helps format imgs*/
.img-con{
    height: 250px;
    width: 240px;
}

.img-con{
    vertical-align: middle;
}